<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bet Miner</title>
  <link rel="stylesheet" type="text/css" href="../main.css">
</head>

<body>
  <header>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a class="active" href="/view/games">Games</a>
      </li>
      <li>
        <a href="/view/bets">Bets</a>
      </li>
    </ul>
  </header>
  <section id="content">
    <form action="/view/games">
      <label for="searchterm">Search for a Team</label>
      <input id="searchterm" name="searchterm" type="text" autofocus>
      <button type="submit">Search</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Scheduled At</th>
          <th>Team A</th>
          <th>Team B</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        {{#each games}}
        <tr>
          <td>{{scheduledAt}}</td>
          <td>{{teamA}}</td>
          <td>{{teamB}}</td>
          <td>{{_id}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </section>
</body>

</html>